:root {
    --light-gray: #f0f7ee;
    --yellow: #fff07c;
    --dark-blue: #5d737e;
    --green: #87bba2;
    --black: #000000;
}

.icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
}

.icons img {
    width: 500px;
}

.login-icon-button {
    grid-column-start: 0;
    grid-column-end: 2;
}

.login-icon-button img {
    width: 200px;
}