:root {
    --light-gray: #f0f7ee;
    --yellow: #fff07c;
    --dark-blue: #5d737e;
    --green: #87bba2;
    --black: #000000;
}

.homepage-header-h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
   
}

.main-header {
    display: flex;
    justify-content: center;
    color: var(--light-gray);
}

.subheader-header {
    display: flex;
    justify-content: center;
    color: var(--light-gray);
}

footer{
display: grid;
grid-template-columns: repeat(3, 1fr);
height: 100px;
width: 100%;
position: absolute;
left: 0px;
bottom: 0px;


}

.copyright{  
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
   
}

.social-stack{
    grid-column-start: 3;
    justify-self: center;
    align-self: center;

  
}



.github-logo, .fb-logo, .twitter-logo, .linkedin-logo{
    width: 50px;

}



.container {
    display: grid;
    grid-template-rows: auto;
    height: 100vh;
}

.patient-intake-list {
    height: 800px;
    overflow-y: auto;
}

.patient-card {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
}

.priority {
    justify-self: end;
    grid-column-start: -1;
    grid-column-end: -2;
    grid-row-start: 1;
    grid-row-end: -1;
    width: 100px;
}

.eta {
    justify-self: center;
}

.clear-pt-button {
    justify-self: center;
}

.patient-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}

.patient-modal-info {
    position: fixed;
    left: 23%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 195px);
    background-color: var(--light-gray);
    margin: 15% auto;
    padding: 55px;
    border: 5px solid var(--black);
    border-radius: 7px;
    width: 50%;
    height: 50%;
}

.patient-priority {
    justify-self: center;
    margin-bottom: 100px;
    grid-column-start: 0;
    grid-column-end: 3;
}

.priority-green,
.priority-yellow,
.priority-red {
    width: 100px;
}

.login {
    justify-self: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.username {
    padding: 1rem;
    margin: 1rem;
}

.password {
    padding: 1rem;
    margin: 1rem;
}

form {
    display: grid;
    max-width: 800px;
    justify-items: center;
}

input[type=number] {
    border: none;
    background-color: var(--dark-blue);
    border-bottom: 2px solid var(--light-gray);
    width: 75%;
    margin-bottom: 3rem;
}

input[type=number]:focus {
    background-color: lightgray;
    height: 30px;
}

input[type=number]::placeholder {
    color: var(--light-gray);
    font-size: medium;
}

.pt-submit-form input[type=text] {
    border: none;
    background-color: var(--dark-blue);
    border-bottom: 2px solid var(--light-gray);
    width: 75%;
    margin-bottom: 3rem;
}

.pt-submit-form input[type=text]:focus {
    background-color: lightgray;
    height: 30px;
}

.pt-submit-form input[type=text]::placeholder {
    color: var(--light-gray);
    font-size: medium;
}