:root {
    --light-gray: #f0f7ee;
    --yellow: #fff07c;
    --dark-blue: #5d737e;
    --green: #87bba2;
    --black: #000000;
}

.icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    margin: 2rem;
    padding: 2rem;
}

.icons img {
    width: 300px;
}

.login-icon-button {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-items: center;
}

.login-icon-button img {
    width: 200px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.username {
    padding: 1rem;
    margin: 1rem;
}

.password {
    padding: 1rem;
    margin: 1rem;
}