:root {
    --light-gray: #f0f7ee;
    --yellow: #fff07c;
    --dark-blue: #5d737e;
    --green: #87bba2;
    --black: #000000;
}

html {
    background-color: var(--dark-blue);
}

h1 {
    color: var(--light-gray);
}

.container {
    font-family: PT Sans;
    padding: 1rem;
    max-height: 100vh;
}

.patient-intake-list {
    margin: 1rem;
    overflow-y: scroll;
}

.eta{
    font-weight: bold;
}

.patient-card {
    background-color: var(--light-gray);
    border: solid;
    border-radius: 7px;
    font-size: x-large;
    padding: 1rem;
    margin-top: 10px;
}

.patient-card:hover {
    cursor: pointer;
}



.priority-green{
    opacity: 50%;
}

.priority-yellow {
    opacity: 50%;
}

.priority-red {
    opacity: 50%;
}

.priority-green:hover {
    border: solid;
    border-radius: 7px;
    border-width: 6px;
    border-color: #049c04;
    box-shadow: 5px 5px 50px 5px rgb(4, 156, 4);
    opacity: 100%;
}


.priority-red:hover {
    border: solid;
    border-radius: 7px;
    border-width: 6px;
    border-color: #bc544b;
    box-shadow: 5px 5px 50px 5px #bc544b;
    opacity: 100%;
}

.priority-yellow:hover {
    border: solid;
    border-radius: 7px;
    border-width: 6px;
    border-color: #fcf4a3;
    box-shadow: 5px 5px 50px 5px #fcf4a3;
    opacity: 100%;
}

.clear-pt-button button {
    border: none;
    background-color: var(--yellow);
    border-radius: 7px;
    width: 150px;
    height: 50px;
    font-family: PT Sans;
    font-size: x-large;
}
.patient-title{
    color: #000000;
    text-decoration: underline;
}