:root {
    --light-gray: #f0f7ee;
    --yellow: #fff07c;
    --dark-blue: #5d737e;
    --green: #87bba2;
    --black: #000000;
}


html {
    font-family: PT Sans;
    min-height: 100%;
    background-image:url("../imgs/SyrenBGV1.png"); 
    background-size: 100%;
    overflow: hidden;
}

.submit-form{
background-color: gray;
/* opacity: .9; */
border: none;
border-radius: 10px;
padding: 2rem;
margin-top: 1.5rem;
}

.new-patient{
    color: var(--light-gray);
}

input[type=text] {
    width: 80%;
    border: none;
    background-color: var(--light-gray);
    border-bottom: 2px solid var(--dark-blue);
}

input[type=text]:focus {
    background-color: lightgray;
}

input[type=text]::placeholder {
    color: var(--dark-blue);
    font-family: PT Sans;
    font-size: large;
}

.logout-button {
    background-color: lightcoral;
    width: 50%;
    padding: 10px;
    margin: 10px;
    border: solid var(--dark-blue);
    border-radius: 25px;
    font-family: PT Sans;
    font-size: large;
}

.close:hover,
.close:focus {
    color: lightcoral;
    text-decoration: none;
    cursor: pointer;
}

.login-button {
    background-color: var(--green);
    width: 50%;
    padding: 10px;
    margin: 10px;
    border: solid var(--dark-blue);
    border-radius: 25px;
    font-family: PT Sans;
    font-size: large;
}

.login-button:hover {
    cursor: pointer;
    background-color: green;
    border-radius: 25px;
}

.logout-button:hover {
    cursor: pointer;
    background-color: crimson;
}

.close {
    color: var(--dark-blue);
    float: right;
    font-size: xx-large;
    font-weight: bold;
}

.modal-content {
    background-color: var(--light-gray);
    margin: 15% auto;
    padding: 20px;
    border: 6px solid var(--dark-blue);
    border-radius: 7px;
    width: 15%;
}

.login-icon-button :hover {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 4px black;
}

.add-pt-button:hover{

    border: none; 
    border-radius: 10px;
    box-shadow: 3px 3px 10px 4px black;
    cursor: pointer;
}


.ems-page-header-h1, .add-pt-button, .login-icon-button, .submit-form,  .modal-content{
    color: var(--light-gray);
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



